{% extends "base.njk" %}
{% block content %}
  <div class="max-w-sm lg:max-w-4xl mx-auto mt-8">
    <h1>404: Page Not Found</h1>
    <p>
      We couldn't find the page you were looking for. However, if you're looking for the educational opportunity of a
      lifetime, try applying for the John Lazeez Memorial Scholarship at
      <a href="/">our home page.</a>
    </p>
    <p></p>
  </div>
{% endblock %}