body {
  font-family: "Public Sans", sans-serif;
  color: #2e2c2f;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Prata", serif;
  color: #067bc2;
}

.top-navbar {
  padding: 0.5em;
  display: flex;
  justify-content: start;
  align-items: center;
  border-bottom: 1px solid #067bc2;
}

.navbar-logo {
  flex: 1;
  height: 3em;
  margin-left: 1.5em;
  margin-right: 1.5em;
}

.navbar-logo img {
  height: 100%;
  width: auto;
}

.nav-links {
  display: flex;
}

.nav-links li {
  list-style: none;
  margin-left: 1em;
  margin-right: 1em;
  font-size: 1.5em;
}

.nav-links a {
  text-decoration: none;
  color: #2e2c2f;
}

.nav-links a:hover {
  text-decoration: underline;
}

.hero {
  width: 100%;
  height: 75vh;
  background-image: url("static/hero.png");
  background-size: cover;
  background-position: 45%;
  padding-top: 4em;
}

.hero-text {
  width: 100vw;
  font-size: 1.25em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.caption {
  text-align: center;
}

.content-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1080px;
  width: 50%;
}

.section-img {
  display: block;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.submit-frame {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 710px;
  width: 100%;
}

.footer {
  text-align: center;
  margin-top: 1em;
  background-color: #067bc2;
  padding: 2em;
}
