{% extends "base.njk" %}
{% block content %}
  <div class="max-w-sm lg:max-w-4xl mx-auto mt-8">
    <a class="mb-6 block" href="/alumni">&#8592 Back to Alumni</a>
    <h1>{{ name }}</h1>
    <div class="grid grid-cols-3 gap-12">
      <div>
        <img class="mb-3" src="{{ image }}"/>
        <h3>Term: {{ term }}</h3>
        <h3 class="mb-1">What will you do with your winnings?</h3>
        <p>{{ winningsUse }}</p>
      </div>
      <div class="col-span-2">
        <h3 class="mb-1">Submission:</h3>
        <p>{{ content | safe }}</p>
      </div>
    </div>
  </div>
{% endblock %}